# Django settings
DJANGO_SECRET_KEY=<Ваш секретный ключ Django>
DEBUG=<True/False>
ALLOWED_HOSTS=['localhost', 'web', '127.0.0.1', "ip_address_vps"]
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=securepassword

# Telegram bot settings
TELEGRAM_BOT_TOKEN=<Токен телеграм-бота>
API_BASE_URL=http://<ip_address_vps>/api/

# Celery settings
CELERY_BROKER_URL=redis://redis:6379/0  # 'redis' - имя сервиса Redis
CELERY_RESULT_BACKEND=redis://redis:6379/0

# PostgreSQL settings
USE_POSTGRES=True
PG_DATABASE=<Имя_базы_данных>
PG_USER=<Имя_пользователя>
PG_PASSWORD=<Пароль>
DB_HOST=db  # 'db' - имя сервиса PostgreSQL
DB_PORT=5432

# Redis settings
REDIS_HOST=redis
REDIS_PORT=6379
